.list-container {
  background-color: #f1ece6;
  border-radius: 30px;
  overflow: auto;
  max-height: 300px;
  min-height: 300px;

  margin: 5px 0px 30px 0px;
}
ul {
  text-align: center;
  padding: 0px 10px;
  list-style: none;
}
li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0px 8px 0px;
  text-align: left;
  vertical-align: middle;
}

/* Check Box Css */
input[type="checkbox"] {
  position: absolute;
  padding: 9px;
  align-self: center;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.deleteicon {
  height: 20px;
  width: 16px;
  padding-bottom: 3px;
  align-self: center;
}

.clearText {
  line-height: 26px;
  cursor: pointer;
  text-align: right;
  padding-right: 14px;
  padding-bottom: 0px;
  color: #d98326;
  margin-bottom: 0px;
}
.clearImg {
  height: 16px;
  width: 14px;
}
/* test */
li.newlist {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  gap: 6px;
}
.newlist input[type="text"] {
  border: none;
  margin: 0px;
  padding: 6px 0px;
}
.newlist form {
  margin: 0px;
  flex-grow: 5;
  padding: 0px;
}

.newlist div,
.newlist input[type="text"] {
  flex-grow: 5;
  border-bottom: 1px solid #76b7cd;
  padding: 6px 0px;
  padding-top: 12px;
}

.newlist button {
  padding: auto;
  /* margin-left: 6px;
  margin-bottom: 2px; */
  margin: 3px;
  margin-left: 6px;
  flex-shrink: 5;
  position: relative;
  flex-grow: 4;
  background-color: transparent;
  max-width: 60px;
  text-transform: uppercase;
  color: gray;
  border-color: rgb(200, 194, 194);
  border-radius: 10px;
  flex-shrink: 8;
  box-shadow: 0px 0px white;
}
img:hover {
  cursor: pointer;
}
