form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 3px;
}
.searchbar {
  flex-grow: 6;
  outline: none;
  padding: 9px 30px;
  border: 2px solid gray;

  font-size: 16px;
  background-color: #f1ece6;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.Btnadd {
  flex-grow: 1;
  padding: 10px 10px;
  font-size: 14px;
  border: 2px solid gray;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: #76b7cd;
  color: white;
  font-weight: bold;
}
.formcontainer {
  width: 85%;
}
