form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 3px;
}
.searchbar {
  flex-grow: 6;
  outline: none;
  padding: 9px 0px;
  padding-left: 20px;
  border: 2px solid gray;

  background-color: #f1ece6;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.Btnadd {
  flex-grow: 1;
  cursor: pointer;
  border: 2px solid gray;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: #76b7cd;
  color: white;
  font-weight: bold;
}
.formcontainer {
  width: 85%;
}
.error-div {
  padding-left: 10px;
  float: left;
  color: red;
  text-align: left;
  font-style: italic;
  line-height: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
@media only screen and (max-width: 990px) {
  .searchbar {
    font-size: 12px;
  }
  .Btnadd {
    font-size: 12px;
    padding: 9px 8px;
  }
  .dropdown-btn {
    font-size: 12px;
    min-width: 80px;
  }
  .dropdown-span {
    padding: 5px 2px;
    /* max-width: 80px; */
  }
  .down-icon {
    height: 22px;
    width: 20px;
  }
}
@media only screen and (min-width: 990px) {
  .searchbar {
    font-size: 15px;
  }
  .Btnadd {
    font-size: 13px;
    padding: 10px 10px;
  }
  .dropdown-btn {
    font-size: 12px;
    min-width: 105px;
  }
  .dropdown-span {
    padding: 5px 2px;
  }
  .down-icon {
    height: 25px;
    width: 22px;
  }
}
